@import "~antd/dist/antd.css";
@font-face {
  font-family: "BMDOHYEON";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
.abc {
  font-family: BMDOHYEON;
  border: 1px solid #d3d3d3;
}
