@font-face {
  font-family: "BMDOHYEON";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.detailContainer {
  font-family: "BMDOHYEON";
  width: 60%;
  margin: auto;
  background-color: rgb(226, 211, 204, 0.4);
  min-width: 500px;
}

#detailContent {
  width: 60%;
  margin-bottom: 5%;
  margin-left: 20%;
  font-size: 2em;
}

#detailNick {
  text-align: center;
  margin-bottom: 10%;
  margin-top: 5%;
}

#detailTitle {
  font-size: 25px;
  padding: 0 10px;
  line-height: 1.3;
  margin-bottom: 2%;
  text-align: center;
}

#detailSubtitle {
  font-size: 15px;
  color: #aaa;
  line-height: 170%;
  padding: 2px 10px 10px 10px;
}

.detailInfo {
  padding: 2px 15px 0;
  text-align: center;
  padding-bottom: 40px;
  display: block;

  border-bottom: 1px solid #b3b1b1;
  margin-bottom: 10%;
}

.detailInfo span {
  display: inline-block;
  width: 50%;
  padding-top: 56px;
  font-size: 16px;
}

.detailMaterial {
  font-size: 30px;
  border-bottom: 1px solid #b3b1b1;
}

.detailMaterial span {
  color: #ccc;
  font-style: italic;
  padding-left: 10px;
}

.detailMaterial #readyMaterial {
  font-size: 15px;
  padding: 20px 20px 18px 24px;
  vertical-align: top;
}

.detailMaterial #readyMaterial b {
  padding-bottom: 8px;
  color: #333;
  font-size: 16px;
  display: block;
  font-weight: 500;
}

.hs {
  margin: 0 auto;
  list-style: none;
}

.hs li {
  padding-top: 5%;
  padding-bottom: 5%;
}

.detailContainer .horizontal {
  text-align: center;
  width: 65%;
}

.view_step {
  padding: 35px 0 10px;
}

.view_step #stepDes {
  font-size: 15px;
  display: block;
  padding: 40px 10px 10px 10px;

  text-align: left;
}

.detailTag {
  padding: 35px 0 10px;
  font-size: 12px;

  font-family: "Noto Sans KR", sans-serif;
}
.moveToCart {
  float: right;
  color: #9d2437;
}
