/* Signup.css */

#signup_content {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 600px;
}

h3 {
  margin: 10px 9 8px;
  font-size: 14px;
  font-weight: 700;
}

.box {
  display: block;
  width: 100%;
  height: 50px;
  border: solid 1px #dadada;
  padding: 10px 14px 10px 14px;
  box-sizing: border-box;
  position: relative;
}

.box.int_id {
  display: block;
  width: 28%;
  height: 50px;
  border: solid 1px #dadada;
  padding: 10px 14px 10px 14px;
  box-sizing: border-box;
  position: relative;
}

.int {
  display: block;
  position: relative;
  width: 100%;
  height: 30px;
  border: none;
  background-color: #fff;
  font-size: 15px;
}

.box_id {
  width: 100%;
  display: flex;
}

#idCheck {
  margin-left: 7px;
  margin-top: 15px;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #bcbcbc;
  cursor: pointer;
}

.step_url {
  height: 50px;
  margin: 10px;
  font-size: 15px;
}

.signupList {
  height: 50px;
  width: 28%;
  margin-left: 10px;
  text-align: center;
  border: 1px solid #aaa;
}
