/* Footer.css */
.footer {
  position: fixed;
  background-color: rgb(224, 224, 224);
  width: 100%;
  height: 50px;
}
.f-title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.f-title > span {
  font-size: large;
}
