@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jua&family=Nanum+Gothic:wght@400;700&display=swap");
@font-face {
  font-family: "BMDOHYEON";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "KoPubDotumMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/KoPubDotumMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@media screen and (max-width: 768px) {
  .row-1 .h-title span {
    font-size: 15px;
  }
  .row-1 .h-menu,
  .h-nav-item-alw .boardIcon,
  .h-nav-item-alw .searchIcon {
    margin-top: 25px;
  }
}
.header {
  position: fixed;
  background-color: rgb(157 36 55);
  width: 100%;
  height: 90px;
  z-index: 9;
  border-bottom: solid 1px #d3d3d3;
}
.row-1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.row-1 .h-logo {
  position: absolute;
  left: 30px;
  top: 0;
}
.row-1 .h-title {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 100px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  font-family: "BMDOHYEON";
}
.row-1 .h-menu {
  position: absolute;
  right: 30px;
  top: 20px;
}
.row-1 .h-menu:hover {
  position: absolute;
  border: 5px outset rgba(208, 208, 208, 0.5);
  border-radius: 10px;
  right: 30px;
  top: 20px;
}
.row-1 .h-menu:hover {
  position: absolute;
  border: 5px outset rgba(208, 208, 208, 0.5);
  border-radius: 10px;
  right: 30px;
  top: 20px;
}
.h-nav-item-alw {
  position: relative;
  display: flex;
  margin-top: 25px;
  right: 90px;
}
.h-nav-item-alw .inputbox {
  position: absolute;
  height: 40px;
  top: 5px;
  right: 60px;
  width: 40px;
  opacity: 0;
  background-color: #9d2437;
  outline: none;
  border: none;
  border-radius: 10px;
  transition: all 0.4s;
  z-index: 7;
}
.h-nav-item-alw .inputbox::placeholder {
  color: #9d2437;
}
.h-nav-item-alw .inputbox:focus {
  opacity: 1;
  position: absolute;
  border: 3px solid rgba(218, 160, 52, 0.5);
  height: 40px;
  top: 5px;
  right: 105px;
  width: 200px;
  background-color: #fff;
  outline: none;
  border-radius: 10px;
  transition: all 0.4s;
}
.h-nav-item-alw .inputbox:focus::placeholder {
  color: #000;
}
.searchIcon {
  margin-right: 5px;
}
.boardIcon:hover {
  border: 5px outset rgba(208, 208, 208, 0.5);
  border-radius: 10px;
}
.searchIcon:hover {
  margin-right: 5px;
  border: 5px outset rgba(208, 208, 208, 0.5);
  border-radius: 10px;
}
.row-1 .h-nav {
  display: "flex";
  flex-direction: row;
}
.row-1 .h-nav .h-nav-item {
  right: -100px;
  top: 70px;
  position: absolute;
  text-align: center;
  transition: all 0.4s;
}
.row-1 .h-nav .h-nav-items {
  right: -100px;
  top: 90px;
  position: absolute;
  text-align: center;
  transition: all 0.4s;
}
.row-1 .h-nav .h-nav-items.active {
  right: 30px;
  top: 90px;
  position: absolute;
  text-align: center;
  transition: all 0.4s;
}
.row-1 .h-nav .h-nav-item.active {
  right: 30px;
  top: 70px;
  position: absolute;
  text-align: center;
  transition: all 0.4s;
}
.row-1 .h-nav .h-nav-item .sub-title,
.row-1 .h-nav .h-nav-items .sub-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: BMDOHYEON;
  font-size: 14px;
  color: #9d2437;
}
.row-1 .h-nav .h-nav-item.active .sub-title,
.row-1 .h-nav .h-nav-items.active .sub-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: BMDOHYEON;
  font-size: 14px;
  color: #9d2437;
}
