/* Main.css */
/* @import '~antd/dist/antd.css'; */

.mainContainer {
  padding-top: 90px;
  padding-bottom: 90px;
  background: #fcf6f5ff;
}
.mainHeadLine {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainVote {
  margin-left: 100px;
  min-width: 275px;
  width: 30%;
  border: 1px solid #000;
}
.mainBodyCon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainBodyCon img {
  width: 90px;
  height: 90px;
}
@media screen and (max-width: 1200px) {
  .mainBodyTitle {
    margin-left: 5%;
  }
}
@media screen and (max-width: 768px) {
  .mainHeadLine {
    flex-direction: column;
  }
  .mainVote {
    margin: 0;
    justify-content: center;
  }
}
.voteModal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);
}
.voteModal button {
  outline: none;
  cursor: pointer;
  border: 0;
}
.voteModal > section {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 0.3rem;
  background-color: #fff;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-show 0.3s;
  overflow: hidden;
}
.voteModal > section > header {
  position: relative;
  padding: 16px 64px 16px 16px;
  background-color: #f1f1f1;
  font-weight: 700;
}
.voteModal > section > header button {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  color: #999;
  background-color: transparent;
}
.voteModal > section > main {
  padding: 16px;
  border-bottom: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
}
.voteModal > section > footer {
  padding: 12px 16px;
  text-align: right;
}
.voteModal > section > footer button {
  padding: 6px 12px;
  color: #fff;
  background-color: #6c757d;
  border-radius: 5px;
  font-size: 13px;
}
.voteModal.openModal {
  display: flex;
  align-items: center;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-bg-show 0.3s;
}
@keyframes modal-show {
  from {
    opacity: 0;
    margin-top: -50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.skeletonSet {
  display: flex;
  justify-content: center;
  align-items: center;
}
